* {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-block-start: 0em;
   margin-block-end: 0em;
}

body,
html,
#root {
   width: 100%;
   min-height: 90vh;
}

body {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}

/* scroll bar */
body::-webkit-scrollbar {
   width: 1.2em;
}

body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
   background-color: darkgrey;
   outline: 1px solid slategrey;
}

#root {
   /* position: fixed !important;
   overflow: scroll !important;
   width: 100%; */
}

.App {
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 100%;
   background: #e9ebee;
}

.App #error {
   padding: 20%;
}

.content {
   width: 100%;
   display: flex;
   flex-direction: row;
}

.morePosts {
   display: flex;
   flex-direction: column;
}
